
a {
	color: #92badd;
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}
h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin: 40px 8px 10px 8px;
	color: #cccccc;
}
.wrapper {
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    text-align: center;
    margin: auto;
	width: 100%;
	padding: 80px 0px;
}
#formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 90%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	-webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
}

h2.inactive {
	color: #cccccc;
}
h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5fbae9;
}

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

