<br />
<form (ngSubmit)="createDriver()" ngNativeValidate>
    <div class="d-flex flex-column align-items-center">
        <img class="van-img" src="../../../assets/images/driver_add.png" id="van-img" width="100%" height="100%"><br />
        <h2>Create New Driver</h2>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="model" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullName" [(ngModel)]='drivers.fullName' required>
        </div>
        <div class="mb-3 col-6">
            <label for="stds" class="form-label">Gender</label>
            <select class="form-select" name="gender" [(ngModel)]="drivers.gender" required>
                <option value='Male' selected>Male</option>
                <option value='Female'>Female</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group mb-3 col-6">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="dob" required [(ngModel)]='drivers.age'>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <div class="mb-3 col-6">
            <label for="year" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]='drivers.email' required>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="SittingCap" class="form-label">Phone No.</label>
            <input type="number" maxlength="11" minlength="11" class="form-control" name="phone"
                [(ngModel)]='drivers.phone_No' required>
        </div>
        <div class="mb-3 col-6">
            <label for="fuelType" class="form-label">Home Address</label>
            <input type="text" class="form-control" name="haddress" [(ngModel)]='drivers.haddress' required>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center">
            <button class="add-van" type="submit"><span class="add-btn"> Create</span></button>
            <br>
        </div>
    </div>
</form>