<ng-container *ngIf = "loading$ | async">
    <div class="overlay">
        <mat-progress-spinner [mode]='"indeterminate"' ></mat-progress-spinner>
    </div>
</ng-container>
<div class="wrapper">
    <div>
        <img src="/assets/images/forgot_password.svg" id="icon" alt="User Icon" />
    </div>
    <div *ngIf="!linksent">
        <div class="forgot-password-description"><span>No worries! Enter your email and we will send you
                password reset link.</span>
        </div>
        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
            <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email"
                [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
            <div *ngIf="signInForm.submitted && email.errors?.pattern">
                <label class="validation-message">Invalid email address.</label>
            </div>
            <input type="submit" value="Send Reset Link">

        </form>
    </div>
    <div *ngIf="err">
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong><br>
            {{errorMsg}}
        </div>
    </div>
    <div *ngIf="linksent">
        <div class="alert alert-success" role="alert" style="margin-top: 20px;">
            <strong>Email Sent!</strong><br>
            <span>Please check your email and click on reset link to change the password</span>
        </div>
    </div>

</div>