<br />
<div class="d-flex flex-column align-items-center">
    <img class="van-img" src="../../../../assets/images/complaint.png" id="van-img" width="100%" height="100%"><br />
    <h2>Complaint</h2>
</div>
<div>
    <table class="complaint-modal">
        <tr>
            <th>Filed By</th>
            <td>Muhammad Noorulain</td>
        </tr>
        <tr>
            <th>User Category</th>
            <td class="userClass"></td>
        </tr>
        <tr>
            <th>Title</th>
            <td class="title"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td class="desc"></td>
        </tr>
        <tr>
            <th>Date</th>
            <td class="datee"></td>
        </tr>
        <tr>
            <th>Status</th>
            <td class="status"></td>
        </tr>

    </table>
    <table class="action">
        <hr />
        <tr>
            <th>Select Action</th>
            <td>
                <select class="form-control action-dropdown status-complaint"
                    aria-label="Default select example">
                    <option>Select an Action</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Resolved">Resolved</option>
                    <option value="Rejected">Rejected</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Feedback</th>
            <td><textarea name="feeback" id="feedb" cols="30"
                    rows="3"></textarea></td>
        </tr>
    </table>
</div>